<!-- Remove the container if you want to extend the Footer to full width. -->
<div class=" my-5">
    <footer class="bg-dark text-center text-white">
            <div class="row mt-4" style="margin:0 auto;">
                <div class="col-12 pt-2 pb-2">
                    <h5 class="text-uppercase">Mas sobre nosotros</h5>
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-white"><i class="fas fa-book fa-fw fa-sm me-2"></i>Contacto</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white"><i class="fas fa-book fa-fw fa-sm me-2"></i>Redes sociales</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white"><i class="fas fa-user-edit fa-fw fa-sm me-2"></i>Más</a>
                        </li>
                    </ul>
                </div>
        </div>
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
            © 2023 Copyright:
            <a class="text-white" href="">mfcaicedo</a>
        </div>
    </footer>
</div>